<form (ngSubmit)="createUnitOfMasure()">
  <div class="mb-3">
    <label for="unit-of-masure-name" class="form-label">
      Name
    </label>
    <input id="unit-of-measure-name"
           name="name"
           class="form-control"
           [(ngModel)]="unitOfMeasure.name" />
  </div>

  <div class="mb-3">
    <label for="unit-of-measure-description" class="form-label">
      Description
    </label>
    <textarea id="unit-of-measure-description"
              name="description"
              [(ngModel)]="unitOfMeasure.descripton"
              class="form-control">
    </textarea>
  </div>

  <div>
    <button type="submit" class="btn-primary btn">
      Save
    </button>
  </div>

  <app-back-button destination="unit-of-measures">
  </app-back-button>
</form>
