<app-loading-spinner [spinnerText]="spinnerText"
                     [isVisible]="isLoading"
                     (cancel)="cancelLoading()">
</app-loading-spinner>

<form *ngIf="product" (ngSubmit)="updateProduct()">
  <div class="mb-3">
    <label for="product-name" class="form-label">
      Name
    </label>
    <input id="product-name"
           name="name"
           class="form-control"
           [(ngModel)]="product.name" />
  </div>

  <div class="mb-3">
    <label for="product-description" class="form-label">
      Description
    </label>
    <textarea id="product-description"
              name="description"
              class="form-control"
              [(ngModel)]="product.description">
    </textarea>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="product-quantity" class="form-label">
          Quantity
        </label>
        <input id="product-quantity"
               name="quantity"
               class="form-control"
               type="number"
               [(ngModel)]="product.quantity" />
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="product-unit-price" class="form-label">
          Unit Price
        </label>
        <input id="product-unit-price"
               name="unitPrice"
               class="form-control"
               type="number"
               [(ngModel)]="product.unitPrice" />
      </div>
    </div>
  </div>

  <div>
    <button type="submit" class="btn-primary btn">
      Save
    </button>
  </div>
</form>
