<app-loading-spinner [spinnerText]="spinnerText"
                     [isVisible]="isLoading"
                     (cancel)="cancelLoading()">
</app-loading-spinner>

<app-back-button buttonText="Back to unit of measure list"
                 backRouterLink="/unit-of-measures">
</app-back-button>

<form *ngIf="unitOfMeasure" (ngSubmit)="updateUnitOfMeasure()">
  <div class="mb-3">
    <label for="unitOfMeasure.name" class="form-label">
      Name
    </label>
    <input id="unitOfMeasure-name"
           name="name"
           class="form-control"
           [(ngModel)]="unitOfMeasure.name" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="unitOfMeasure.description">
      Description
    </label>
    <textarea id="unitOfMeasure-description"
              name="description"
              class="form-control"
              [(ngModel)]="unitOfMeasure.description">
    </textarea>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </div>
</form>
