
<div>
  <a class="btn btn-primary" [routerLink]="['create']">
    Create
  </a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let unitofmeasure of unitofmeasures">
        <td>
          {{unitofmeasure.id}}
        </td>

        <td>
          {{unitofmeasure.name}}
        </td>

        <td>
          {{unitofmeasure.description}}
        </td>

        <td>
          <a class="btn btn-secondary" [routerLink]="['edit', unitofmeasure.id]">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
