<app-loading-spinner spinnerText="Loading units of measuring..."
                     [isVisible]="isLoading"
                     (cancel)="cancelLoading()">
</app-loading-spinner>

<div>
  <a class="btn-primary btn" [routerLink]="['create']">
    Create new Unit of Measure
  </a>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let unitOfMeasure of unitOfMeasures">
        <td>
          <a class="btn btn-danger" [routerLink]="['delete', unitOfMeasure.id]">
            Delete
          </a>
        </td>
        <td>
          {{unitOfMeasure.id}}
        </td>

        <td>
          {{unitOfMeasure.name}}
        </td>

        <td>
          {{unitOfMeasure.description}}
        </td>

        <td>
          <a class="btn-primary btn" [routerLink]="['edit', unitOfMeasure.id]">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
