
<div>
  <a class="btn-primary btn-primary" [routerLink]="['create']">
    Create new Unit of Measure
  </a>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let unitOfMeasure of unitOfMeasures">
        <td>
          {{unitOfMeasure.id}}
        </td>

        <td>
          {{unitOfMeasure.name}}
        </td>

        <td>
          {{unitOfMeasure.description}}
        </td>

        <td>
          <a class="btn-primary btn-secondary" [routerLink]="['edit']">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
