
<form *ngIf="productType" (ngSubmit)="editProductType()">
  <div class="mb-3">
    <label for="product-type-name" class="form-label">
      Name
    </label>
    <input id="product-type-name"
           name="name"
           class="form-control"
           [(ngModel)]="productType.name" />
  </div>

  <div class="mb-3">
    <label for="product-type-description" class="form-label">
      Description
    </label>
    <textarea id="product-type-description"
              name="description"
              class="form-control"
              [(ngModel)]="productType.description">
    </textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </div>

  <app-back-button destination="product-types" linkName="Product Types">
  </app-back-button>
</form>
