<app-loading-spinner spinnerText="LCreating new unit of measuring..."
                     [isVisible]="isLoading"
                     (cancel)="cancelLoading()">
</app-loading-spinner>

<form (ngSubmit)="createUnitOfMeasure()">
  <div class="mb-3">
    <label for="unitOfMeasure.name" class="form-label">
      Name
    </label>
    <input id="unitOfMeasure-name"
           name="name"
           class="form-control"
           [(ngModel)]="unitOfMeasure.name" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="unitOfMeasure.description">
      Description
    </label>
    <textarea id="unitOfMeasure-description"
              name="description"
              class="form-control"
              [(ngModel)]="unitOfMeasure.description">
    </textarea>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </div>
</form>
