
<div>
  <a class="btn btn-primary" [routerLink]="['create']">
    Create Product Type
  </a>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let productType of productTypes">
        <td>
          {{productType.id}}
        </td>

        <td>
          {{productType.name}}
        </td>

        <td>
          {{productType.description}}
        </td>

        <td>
          <a class="btn btn-secondary" [routerLink]="['edit', productType.id]">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
