
<div>
  <a class="btn btn-primary" [routerLink]="['create']">
    Create Product Type
  </a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let producttype of producttypes">
        <td>
          {{producttype.id}}
        </td>

        <td>
          {{producttype.name}}
        </td>

        <td>
          {{producttype.description}}
        </td>
        <td>
          <a class="btn btn-secondary" [routerLink]="['edit', producttype.id]">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
