<app-loading-spinner [spinnerText]="spinnerText"
                     [isVisible]="isLoading"
                     (cancel)="cancelLoading()">
</app-loading-spinner>

<form *ngIf="productType" (ngSubmit)="deleteProductType()">
  <div class="mb-3">
    <label for="productType-name" class="form-label">
      Name
    </label>
    <input id="productType-name"
           name="name"
           class="form-control"
           [(ngModel)]="productType.name" />
  </div>

  <div class="mb-3">
    <label for="productType-description" class="form-label">
      Description
    </label>
    <textarea id="productType-description"
              name="description"
              class="form-control"
              [(ngModel)]="productType.description">
    </textarea>
  </div>

  <div class="mb-3">
    <h5>Do you want to delete?</h5>
  </div>

  <div>
    <button type="submit" class="btn btn-danger">
      Delete
    </button>
    <app-back-button buttonText="No"
                     backRouterLink="/producttypes">
    </app-back-button>
  </div>
</form>
